@import "variables.scss";
.chat-tool {
  .invisibility {
    visibility: hidden;
    height: 0px;
  }
  .list-member {
    margin-top: 10px;
    @extend .invite-container;
  }
  .invite-container {
    border: 1px solid $border-color;
    padding: 5px;
    margin-top: 10px;
  }
  .kick-container {
    @extend .invite-container;
  }
}
